body{
    font-family: Arial, Helvetica, sans-serif
}

nav{
    background-color: white;
    height: 64px;
    padding: 10px 24px;

}

.leftlogo {
    display: inline-flex;
    height: 32px;
}

.leftlogo h1
{
    font-weight: normal;
    font-family: candara !important;   
}

nav ul
{
    float: right;
}

header{
    display: flex;
    width: 100%;
    background-color: lightgray;
    padding: 32px 24px;
}

header img {
    width: 60%;
}

.columntext {
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.columntext h1, p{
    text-align: left;
    color: rgba(0,0,0,.6);
}

.articles {
    display: flex;
}

.primart{
    width:60%;
    padding: 32px 24px;
}

.primart img{
    width: 100%;
}

.secart {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.secart img{
    width: 35%;
    height: auto;
}

.secarts {
    display: flex;
}

.secarttext {
    display: flex;
    flex-direction: column;
    width: 65%;
}